@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    font-size: 15px;
}
body {
    font-size: 1rem;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 5rem;
    min-height: 9vh;
    background-color: rgb(145, 200, 255);
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.608) ;
}

header h2{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 3px 1px 5px rgb(9, 79, 48);
}

nav ul li{
    display: inline-block;
    padding: 0.25rem;
}

nav a:link, 
nav a:visited {
    color: black;
    padding: 0.50rem;
    border-radius: 0.5rem ;
    text-align: center;
}

nav a:hover,
nav a:active {
    background-color: rgb(54, 169, 117);
    color: azure;
    transition: background-color 0.4s;
}


#home {
    position: relative;
    margin-top: 8vh;
    min-height: 92vh;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.fondo {
    position: absolute;
    min-height: 92vh;
    min-width: 100%;

}

.bienvenida {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        text-align: center;
        
}

.bienvenida h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    color: aliceblue;
    font-weight: 600;
}


#continue {
    padding: 1rem;
    border: solid 1px transparent;
    border-start-start-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 150px;
}

#continue:hover{
    box-shadow: 6px 4px 10px rgb(0, 0, 0);
    transition: box-shadow 0.35s;
    font-style: bold;
}

#tecnologias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 82vh;
    gap: 2em;
    background-image: url(../media/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
}

.tarjetas {
    max-width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem 0;
    border: 0px;
}

.tarjetas:hover{
    border-radius: 10px;
    border: 2.5px solid rgba(0, 0, 0, 0.316);    
}

.logo {
    height: 200px;
}


#contacto {
    min-height: 9vh;
    text-align: center;
    background-color: blueviolet;
    padding-bottom: 1vh;
}

#misContactos li {
    display: inline-block;
    padding: 0.5rem 1rem;
}


@media (max-width:700px){
    header {
        flex-direction: column;
    }
    header nav ul {
        margin-top: 7px;
    } 
}

#sobremi {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 91vh;
    background-image: url(../media/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
    padding: 10vw;
}
